<!DOCTYPE html>
<html> 
    <head>
        <title>Menu 1</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/contact.css" /> 
 
    </head>
    <body>
       <h1 style="left: auto;">
        About us

       </h1>

       <div class="person">
        <div class="container">
          <div class="container-inner">
            <img
              class="circle"
              src="https://i.ibb.co/KNscp7H/leofinal.jpg"
            />
            <img
              class="img img1"
              src="https://i.ibb.co/Zx9jqPj/leocropf.png"
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">Leonard</div>
        <div class="title">Student FII</div>
      </div>
      <div class="person">
        <div class="container">
          <div class="container-inner">
            <img
              class="circle"
              src="https://i.ibb.co/G5bjTg6/iustin-profil.jpg"

            />
            <img
              class="img img2"
              src="https://i.ibb.co/KqQW3WQ/iustin-crop.png" 
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">Iustin</div>
        <div class="title">Student FII</div>
      </div>
      <div class="person">
        <div class="container">
          <div class="container-inner">
            <img
              class="circle"
              src="https://i.ibb.co/RYR3W4f/poza-profil-sighi-crop.jpg">

            />
            <img
              class="img img3"
              src="https://i.ibb.co/LtfYdXP/355802784-842298920573755-3082408230765208509-n-removebg.png"
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">Alexandru</div>
        <div class="title">Student FII</div>
      </div>




        <div class="navbar">
            <a href="./home.html" class="active">Home</a>
            <a href="./contact.html">About us</a>
        </div>

    </body>
</html>
